<head>
 <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
         
</head>



<body>
    <ul class="nav nav-tabs nav-tabs span10">
        <li ><a href="/">Home </a></li>
        <li class="active"><a href="/showdata">Your File</a></li>
        <li><a href="/chooseplot">Choose Plot Type</a></li>
        <li><a href="/about">About</a></li>        
        
       



<div class="input">
		<ul class="checkbox-select nav input-xlarge" data-dropdown="dropdown">
		<li class="menu open">
			<a class="menu" href="#">Dropdown 1</a>
		<ul class="menu-dropdown inputs-list" data-checkbox-dropdown="checkbox-dropdown">
				<li>


					<label>	
						<input type="checkbox" value="option1" name="optionsCheckboxes">
						<span>Sample Option</span>
					</label>	
				</li>


				<li>
					<label>
						<input type="checkbox" value="option1" name="optionsCheckboxes">
						<span>Sample Option</span>
					</label>		
				</li>


				<li>
					<label>	
						<input type="checkbox" value="option1" name="optionsCheckboxes">
						<span>Sample Option</span>
					</label>
				</li>
	</ul>
	</li>
	</ul>
</div>

</body>
