<!DOCTYPE html>
<meta charset="utf-8">
<html>

<head>

<link type="text/css" rel="stylesheet" href="css/bootstrap.css">  
<link href="css/nv.d3.css" rel="stylesheet" type="text/css">

<style>

body {
  overflow-y:scroll;
  margin: 0;
  padding: 0;
}

svg {
  overflow: hidden;
}

div {
  border: 0;
  margin: 0;
}

/*
#offsetDiv {
  margin-left: 100px;
  margin-top: 100px;
}
*/


#test1 {
  margin: 0;
}

#test1 svg {
  height: 500px;
}

</style>

</head>

<body>

<ul class="nav nav-tabs nav-tabs span10">
                <li><a href="/">Home </a></li>                
                <li><a href="/showdata">Your File</a></li>                
                <li><a href="/chooseplot">Choose Plot Type</a></li>
                <li><a href="/about">About</a></li>  
                <li class="active"><a href="/drawscatterplot">Scatterplot</a></li>
                                      
           
               
            
</ul>   

<form class="well">
<br><br>
<p><b>powered by :</b> <a href="http://nvd3.org/ghpages/examples.html"><img src="/img/nvd3.png"  width="65" height="20" class="img-rounded pull right" alt="nvd3"></p></a>

<div id="offsetDiv">
  <div id="test1" class="chartWrap">
    <svg></svg>
  </div>
</div>

<script src="javascript/d3.v3.js"></script>
<script src="javascript/fisheye.js"></script>
<script src="javascript/nv.d3.js"></script>
<script src="javascript/tooltip.js"></script>
<script src="javascript/utils.js"></script>
<script src="javascript/models/legend.js"></script>
<script src="javascript/models/axis.js"></script>
<script src="javascript/distribution.js"></script>
<script src="javascript/scatter.js"></script>
<script src="javascript/scatterChart.js"></script>
<script>

var dataset_bottle ={{!resultlist}}
shapes = ['circle', 'cross', 'triangle-up', 'triangle-down', 'diamond', 'square'];

var mydata = [
{key : 'chosen data',
values : []
}
];

for (i=0;i<{{!length}};i++)
	{
		
		  mydata[0].values.push({
        x: parseFloat(dataset_bottle[i].{{!d3attvar1}}), 
        y: parseFloat(dataset_bottle[i].{{!d3attvar2}}), 
        size: (parseFloat(dataset_bottle[i].{{!d3attvar1}}) + parseFloat(dataset_bottle[i].{{!d3attvar2}}))/2/10, 
        shape: 'cross'
      });		
		//console.log(dataset_bottle[i].AvTemp1995);
	}
console.log(mydata);


//Format A
var chart;
nv.addGraph(function() {
  chart = nv.models.scatterChart()
                .showDistX(true)
                .showDistY(true)
                //.height(500)
                .useVoronoi(true)
                .color(d3.scale.category10().range());

  chart.xAxis.tickFormat(d3.format('.02f'))
  chart.yAxis.tickFormat(d3.format('.02f'))

  d3.select('#test1 svg')
      .datum(mydata)
    .transition().duration(500)
      .call(chart);

  nv.utils.windowResize(chart.update);

  chart.dispatch.on('stateChange', function(e) { ('New State:', JSON.stringify(e)); });

  return chart;
});







</script>
</form>
</body>
</html>