<!DOCTYPE HTML>
<html>


    <head>
        <link type="text/css" rel="stylesheet" href="css/bootstrap.css">
         
    </head>

    <body>



        
            <ul class="nav nav-tabs nav-tabs span10">
                <li class="active"><a href="/">Home </a></li>                
                <li><a href="/showdata">Your File</a></li>                
                <li><a href="/chooseplot">Choose Plot Type</a></li>                    
           
               
            
            </ul>       
        

      <div> 
        <form class="well form-seach span12">
               <h1>Sorry,      Page not found!</h1>    
               <p>
               <a href="/"><img src="/img/error.jpg" alt="error404"></a>    
               
               </p>  
             
       </form>         
      </div>        
          
         
        
        
    </body>
</html>