<!DOCTYPE HTML>
<html>


    <head>
        <link type="text/css" rel="stylesheet" href="css/bootstrap.css">
         
    </head>

    <body>



        
            <ul class="nav nav-tabs nav-tabs span10">
                <li class="active"><a href="/">Home </a></li>                
                <li><a href="/showdata">Your File</a></li>                
                <li><a href="/chooseplot">Choose Plot Type</a></li>
                <li><a href="/about">About</a></li>  
               
                                      
           
               
            
            </ul>       
        

      <div> 
        <form class="well form-seach span12">
             <h1>Welcome to PlotCSV! </h1>
             <br>
               <p><img src="/img/simplespreadsheet.jpg" alt="spreadsheet"> <img src="/img/arrows.jpg" alt="arrows"> <img src="/img/simplegraph.jpg" alt="simplegraph"></p>            
             <p class="lead">This project has the goal of making Open Data more accessible by visualizing it!
             Please choose a CSV file to start.
             </p>
       </form>         
      </div>        
          
          <div>         
              <form class="well form-seach span12" action="/upload" method="post" enctype="multipart/form-data">
                    
                    <input type="file" name="data" />
                    <button type="submit" value="Submit" class="btn-danger">Let's see what happens!</button>             
              </form>         
          </div>



 <!--This is a comment. Comments are not displayed in the browser
     
         <input type="text" class="span3 search query" placeholder="MongoDB command..."/>
           
            <button class="btn-danger" type="submit" name="save" value="die Welt"> Search</button>
 -->           
        
        
        
    </body>
</html>