﻿<!DOCTYPE html>
<html>
	<head>
		<title>Your File</title>
		
		<link rel="stylesheet" href="css/bootstrap-2.3.2.min.css" type="text/css">
		<link rel="stylesheet" href="css/bootstrap-multiselect.css" type="text/css">
		<link rel="stylesheet" href="css/prettify.css" type="text/css">

		<script type="text/javascript" src="javascript/jquery-2.0.1.min.js"></script>
		<script type="text/javascript" src="javascript/bootstrap-2.3.2.min.js"></script>
		<script type="text/javascript" src="javascript/bootstrap-multiselect.js"></script>
		<script type="text/javascript" src="javascript/prettify.js"></script>
	</head>
	<body>
        
            <ul class="nav nav-tabs nav-tabs span10">
                <li ><a href="/">Home </a></li>
                <li><a href="/showdata">Your File</a></li>                
                <li><a href="/chooseplot">Choose Plot Type</a></li> 
                <li class="active" ><a href="/choosebarvars">Barchart </a></li>
                <li ><a href="/choosescattervars">Scatterplot </a></li>                 
               
            
            </ul> 
          
          <br>
         
           <form class="well span9" action="/drawbarplot" >
               <span class="label label-success">Please select a variable with an integer value for the height of the Bar Charts </span> <br>                
               <br>               
                <script>
	            $('.dropdown input, .dropdown label').click(function (event) {
	                event.stopPropagation();
	            });
        	</script>




		
		<script type="text/javascript">
			    $(document).ready(function() {
			        window.prettyPrint() && prettyPrint();
					
			        $('#example1').multiselect();

			        $('#example27').multiselect({
			        	includeSelectAllOption: true,
			        	enableFiltering: true
			        });

					
			    });
    	</script>
           
               
               
               
               
               
               
               
               <select name="atts_selection" id="example1" multiple="multiple">		
               %for all_elements in varlist:               
                    %for element in all_elements:                    
                   <option name="att_selection" value = {{element}}   >  
                             <span>{{element}}</span> <br><br>            
                    %end
               %end 
               </select>	
               <span class="label label-success">Please select a variable with an text value for the Bar names </span> <br>                
               <br>
                %for all_elements in varlist:               
                    %for element in all_elements:                    
                    <input name="var_nameselection" type="checkbox" value={{element}} >  
                             <span>{{element}}</span> <br><br>             
                    %end
               %end               
                <button type="submit" value="Submit" class="btn">Draw Bar Chart!</button>
          </form>                
               
               
               
                   
                   
           
   
   </body>   
</html>  